<div id="body">

    <nav id="slide-menu">
        <ul>
            <li class="timeline">BLOG</li>
            <li class="events">DEMO</li>
            <li class="calendar">Calendar</li>
            <li class="sep settings">Settings</li>
            <li class="logout">Logout</li>
        </ul>
    </nav>

    <!-- =============for exit nav menu (transparent)============ -->
    <div class="site-nav-overlay" {{action "sidemenuclick" target="view"}} ></div>
    <!-- =============for exit nav menu (transparent)============ -->


    <div class="image-home-header-bleed"></div>



    <!-- Content panel -->
    <div id="content">


        <div class="menu-trigger" {{action "sidemenuclick" target="view"}}><img class="nav-icon" src="images/Scars-icon(white).png"/></div>

        <!-- ===============TOP PART OF THE SITE================= -->
        <div class="metabar u-clearfix metabar-top">
            <div class="metabar-block align-right">
                <div class="btn-set">
                    <ul class="nav">
                        {{#if islogin}}

                        <li>Hi {{controller.loginedUser.displayname}}</li>
                        <li><button class="btn btn-default"{{action "logout"}}>logout</button></li>
                        {{else}}

                        <li><button class="btn btn-default" {{action "switchLogin"}} >login</button></li>
                        {{/if}}


                    </ul>
                </div>
            </div>
        </div>
        <header class="hero hero-home layout-single-column">
            <div class="align-middle layout-single-column layout-foreground layout-fill-height">
                <div class="align-block">
                    <img src="images/Scars-Logo(white).png" class="hero-logo">
                    <p class="hero-description hero-description-tagline">“I don't want to die without any scars.”</p>
                    <p class="hero-description hero-description-tagline">― Chuck Palahniuk, Fight Club</p>
                </div>
            </div>
        </header>
        <nav class="nav-tabs nav-tabs-light  layout-single-column">
            <ul class="nav-tabs-list">
                <li class="nav-tabs-item  "><a class="nav-tabs-anchor" href="#/blogs">BLOG</a></li>
                <li class="nav-tabs-item  "><a class="nav-tabs-anchor" href="#/demo">DEMO</a></li>

            </ul>
        </nav>



        <!--  <div id="loadingProgressG">
              <div id="loadingProgressG_1" class="loadingProgressG">
              </div>-->
            <main class="bucket layout-single-column">
        <ul class="bucket-posts">
            <li class="bucket-item">
                <div class="post-item post-item-connections post-status-">

                    <div class="col-md-9">
                        {{outlet}}

                    </div>
                </div>
            </li>
        </ul>
    </main>
    </div>

</div>

{{#if isloginclick}}
{{render "popupbox"}}

{{/if}}



