<div class="col-md-8">
    {{#if isAlert}}
    {{render "alertBox"}}
    {{/if}}
    <form role="form">
        <div class="form-group">
            {{#if isAuthor}}
            <a class="btn btn-primary" {{action "editClick" this}}>edit</a>
            <button  type="button" class="btn btn-danger" {{action "setIsAlert"}}>delete</button>
            {{/if}}
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            {{model.title}}
        </div>
        <div class="form-group">
            <label for="blog">blog</label>
            {{{model.formattedHtml }}}
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            {{model.displayname }}
        </div>
        <div class="form-group">
            <label for="Author">Last update</label>
            {{model.gettimeago }}
        </div>
    </form>

    <button type="button" class="btn btn-default" {{action "fb_share"}}>share to facebook</button>    
 <!--   <wb:publish button_type="gray" button_size="big" button_text="分享到微博" ></wb:publish>-->
</div>

{{render "messageBoard"}}
