<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: '525231417586664',
            xfbml: true,
            version: 'v2.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="col-md-8">
    <form role="form">
        <div class="form-group">
            <label for="title">Title</label>

            {{model.title}}
        </div>
        <div class="form-group">
            <label for="blog">blog</label>
            {{{model.formattedHtml }}}
        </div>
        <div class="form-group">
            <label for="Author">Author</label>
            {{model.displayname }}
        </div>
        <div class="form-group">
            <label for="Author">Last update</label>
            {{model.gettimeago }}
        </div>
    </form>

    <div class="fb-share-button" data-href="{{unbound model.getCurrentUrl}}" data-type="button_count"></div>

</div>