

<div class="overlay">
    <button class="overlay-close" data-dismiss="modal" {{action "closewindow"}}>×</button>
    <div class="overlay-dialog  overlay-dialog--signin">
        <img src="images/Scars-Logo.png" style="width:200px;margin-bottom: -20px">
        <div class="overlay-content">Sign in to Scar or create an account</div>
        <div class="overlay-actions">

            <div class="list-itemInfo" style="width: 400px; margin: 20px auto; ">
                {{input type="email" value=username class="form-control" placeholder="Enter email"}}

                {{input type="password" value=password class="form-control" placeholder="Password"}}
                   <button id="btnlogin"  data-style="expand-right" {{action "login"}}><span class="ladda-label">Login</span><span class="ladda-spinner"></span><span class="ladda-spinner"></span></button>

            </div>

            <div class="btn-set--vertical signin-auth-choices">
                <button class="btn button--twitter">
                    <i class="fa fa-twitter"></i>
                    <span class="button-label--twitter">Sign in with Twitter</span>
                </button>
                <button class="btn button--facebook" {{action "fb_login"}}>
                    <i class="fa fa-facebook"></i>
                    <span class="button-label--facebook">Sign in with Facebook</span>
                </button>
            </div>
            <div class="signinPrivacyMessages">
                <div>
                    We will never post to other social platform without your permission. For more info, please see our 
                    <a class="link" href="#" target="_blank">Login FAQ</a>.
                </div>
            </div>
        </div>
    </div>
</div>