<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=570524553" type="text/javascript" charset="utf-8"></script>
<div style="background:rgba(0,0,0,0.5);
     position:absolute;
     top:0px;
     left:0px;
     width:100%;
     height:100%;
     overflow:auto;">   


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"{{action "closewindow"}}>&times;</button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">

                <form id="fromLogin" role="form">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        {{input type="email" value=username class="form-control" placeholder="Enter email"}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        {{input type="password" value=password class="form-control" placeholder="Password"}}
                    </div>
                    <button type="button" data-scope="email" class="btn btn-default" {{action "fb_login"}}">Facebook login</button>
                    <p>Account registration is not available yet. Please use guess account.</br>
                        Psername:guess</br>
                        Password:guess</br>
                    </p>
                    {{#if isError}}
                    <span style="color:red">Email or password invalid.
                    </span>
                    {{/if}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"{{action "closewindow"}}>canel</button>
                <button id="btnlogin" class="btn btn-primary ladda-button" data-style="expand-right" {{action "login"}}><span class="ladda-label">login</span><span class="ladda-spinner"></span><span class="ladda-spinner"></span></button>

            </div>
        </div>
    </div>
</div>